html,
body,
main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* background-image: url("img/code-background.png"); */
  background-color: #1e1e1e;
}

.consolas-font {
  font-family: Consolas, "Courier New", monospace;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
  font-weight: bolder;
}

#about,
#play_area {
  display: none !important;
}

#menu,
#about,
#play_area {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

/* TEMP */

/* #menu,
#about {
  display: none !important;
}

#menu,
#about,
#play_area {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
} */

/* TEMP */

/* MENU  */


#menu h1 {
  font-size: 5rem;
  margin: 0;
}

#menu p {
  color: #fccc00;
  -webkit-text-stroke-color: rgba(252, 204, 0, 0.5);
}

#menu button {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background-color: #303030;
  margin: 0.5rem;
  border-style: none;
  padding: 1rem 2rem;
  font-size: large;
  color: white;
  border-radius: 1rem;
  justify-self: center;
}

/* MENU */

/* ABOUT */

/* ABOUT */

/* PLAY_AREA */

.question-box {
  justify-content: flex-start;
  height: 100%;
  max-width: calc(100vw - 435px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dificulty-box {
  display: flex;
  gap: 5rem;
  position: absolute;
  font-family: Consolas, "Courier New", monospace;
  font-size: 2rem;
  top: 0;
  max-width: calc(100vw - 435px);
}

#easy {
  color: #42cf02;
  -webkit-text-stroke-color: rgba(66, 207, 2, 0.5);
}

#medium {
  color: #fccc00;
  -webkit-text-stroke-color: rgba(252, 204, 0, 0.5);
}

#hard {
  color: #f52e0c;
  -webkit-text-stroke-color: rgba(245, 46, 12, 0.5);
}

#question {
  text-align: justify;
  max-width: calc(100vw - 435px);
}

#question_image {
  max-width: calc(100vw - 435px);
}

.option {
  position: absolute;
  border: 3px solid rgba(255, 255, 255, 0.5);
  width: 13rem;
  aspect-ratio: 1 / 1;
  color: white;
  font-size: 1.5rem;
}

#option_1 {
  top: 0;
  left: 0;
  background-color: #f52e0c;
  border-radius: 5% 5% 50% 5%;
}

#option_1 i {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
}

#option_2 {
  top: 0;
  right: 0;
  background-color: #4b79f3;
  border-radius: 5% 5% 5% 50%;
}

#option_2 i {
  position: absolute;
  padding: 1rem;
  top: 0;
  right: 0;
}

#option_3 {
  bottom: 0;
  left: 0;
  background-color: #fccc00;
  border-radius: 5% 50% 5% 5%;
}

#option_3 i {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1rem;
}

#option_4 {
  bottom: 0;
  right: 0;
  background-color: #42cf02;
  border-radius: 50% 5% 5% 5%;
}

#option_4 i {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
}

#return {
  display: none;
  background-color: #303030;
  border-style: none;
  padding: 1rem 2rem;
  font-size: large;
  color: white;
  border-radius: 1rem;
  justify-self: center;
}

/* PLAY_AREA */
