html,
body,
main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("img/code-background.png");
}

/* #about, #play_area {
    display: none !important;
} 

#menu, #about, #play_area {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
} */

/* TEMP */

#menu,
#about {
  display: none !important;
}

#menu,
#about,
#play_area {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#play_area {
  justify-content: flex-start;
}

/* TEMP */

.dificulty-box {
  display: flex;
  gap: 5rem;
  font-family: Consolas, "Courier New", monospace;
  font-size: 2rem;
  top: 0;
}

#easy {
  color: green;
}

#medium {
  color: yellow;
}

#hard {
  color: red;
}

#question_title {
  font-family: Consolas, "Courier New", monospace;
}

#question {
  font-family: Consolas, "Courier New", monospace;
  text-align: justify;
  max-width: 42.5rem;
}

#question_image {
  max-width: 42.5rem;
}

.option {
  position: absolute;
  border: 2px solid white;
  width: 13rem;
  aspect-ratio: 1 / 1;
  color: white;
}

#option_1 {
  top: 0;
  left: 0;
  background-color: red;
  border-radius: 0 0 75% 0;
}

#option_1 i {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  font-size: x-large;
}

#option_2 {
  top: 0;
  right: 0;
  background-color: blue;
  border-radius: 0 0 0 75%;
}

#option_2 i {
  position: absolute;
  padding: 1rem;
  font-size: x-large;
  top: 0;
  right: 0;
}

#option_3 {
  bottom: 0;
  left: 0;
  background-color: rgb(193, 193, 7);
  border-radius: 0 75% 0 0;
}

#option_3 i {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1rem;
  font-size: x-large;
}

#option_4 {
  bottom: 0;
  right: 0;
  background-color: green;
  border-radius: 75% 0 0 0;
}

#option_4 i {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
  font-size: x-large;
}
