html,
body,
main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#1e1e1e, black);
}

.consolas-font {
  font-family: Consolas, "Courier New", monospace;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
  font-weight: bolder;
}

#menu,
#about,
#play_area,
#screen_warning {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#screen_warning {
  display: none;
  position: absolute;
  background: black;
  z-index: 999;
}

.bi-phone {
  font-size: 15rem;
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}
@keyframes spin {
  100% {
    margin-left: 1rem;
    rotate: -90deg 0 0 1;
  }
}

#screen_warning p {
  font-size: 1.5rem;
}

#about,
#play_area {
  display: none;
}

/* ---- */
/* MENU */
/* ---- */

#menu h1 {
  font-size: 5rem;
  margin: 0;
}

/* splash-text */
#menu p {
  color: #fccc00;
  -webkit-text-stroke-color: rgba(252, 204, 0, 0.5);

  animation-name: zoom-n-rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes zoom-n-rotate {
  50% {
    scale: 1.15;
    transform: rotate(5deg);
  }
  75% {
    scale: 1.075;
    transform: rotate(-5deg);
  }
  100% {
    scale: 1;
  }
}

#menu button {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background-color: #303030;
  margin: 0.5rem;
  border-style: none;
  padding: 1rem 2rem;
  font-size: large;
  color: white;
  border-radius: 1rem;
  justify-self: center;
  transition: padding 0.25s;
}

#menu button:hover {
  padding: 1rem 2.5rem;
}

/* ---- */
/* MENU */
/* ---- */

/* ----- */
/* ABOUT */
/* ----- */

.window {
  background-color: #303030;
  width: 50%;
  height: auto;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.window h2,
.window p,
.window h3 {
  padding: 0 1rem;
  text-align: justify;
}

.window-header {
  height: 2.25rem;
  background-color: rgb(70, 70, 70);
  display: flex;
  width: 50%;
  justify-content: space-between;
  border-radius: 1rem 1rem 0 0;
}

.left-side,
.left-side picture {
  display: flex;
  gap: 0.5rem;
  margin-left: 0.1rem;
  align-items: center;
}

.left-side img {
  height: 2rem;
}

.left-side h1 {
  width: fit-content;
  margin: 0;
  font-size: large;
}

#close_button {
  background: none;
  color: white;
  width: 7rem;
  cursor: pointer;
  border: none rgb(206, 36, 6);
  border-radius: 0 1rem 0 0;
  transition:
    width 0.75s,
    border 0.35s,
    background-color 0.25s;
}

#close_button:hover {
  width: 7.5rem;
  border: 0.2rem solid rgb(206, 36, 6);
  background-color: #f52e0c;
}

/* ----- */
/* ABOUT */
/* ----- */

/* --------- */
/* PLAY_AREA */
/* --------- */

.question-box {
  justify-content: flex-start;
  height: 100%;
  max-width: calc(100vw - 435px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.difficulty-box {
  display: flex;
  gap: 5rem;
  position: absolute;
  align-items: center;
  font-family: Consolas, "Courier New", monospace;
  font-size: 2rem;
  top: 0;
  max-width: 100%;
}

#easy {
  color: #42cf02;
  -webkit-text-stroke-color: rgba(66, 207, 2, 0.5);
}

#medium {
  color: #fccc00;
  -webkit-text-stroke-color: rgba(252, 204, 0, 0.5);
}

#hard {
  color: #f52e0c;
  -webkit-text-stroke-color: rgba(245, 46, 12, 0.5);
}

#question {
  text-align: justify;
  max-width: calc(100vw - 435px);
  font-size: larger;
}

#score_announcer {
  text-align: center;
  display: none;
}

#total_score {
  text-align: center;
  display: none;
  font-size: xx-large;
  margin: 0 0 1rem 0;
  color: #fccc00;
  -webkit-text-stroke-color: rgba(252, 204, 0, 0.5);
}

#question_image {
  max-width: calc(100vw - 435px);
  justify-self: center;
  display: flex;
}

.option {
  position: absolute;
  border: 3px solid rgba(255, 255, 255, 0.5);
  width: 13rem;
  aspect-ratio: 1 / 1;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

#option_1 {
  top: 0;
  left: 0;
  background-color: #f52e0c;
  border-radius: 5% 5% 50% 5%;
  transition:
    background-color 0.25s,
    border-width 0.25s;
}
#option_1:hover {
  background-color: rgba(245, 46, 12, 0.75);
  border-width: 0.5rem;
}

#option_1 i {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
}

#option_2 {
  top: 0;
  right: 0;
  background-color: #4b79f3;
  border-radius: 5% 5% 5% 50%;
  transition:
    background-color 0.25s,
    border-width 0.25s;
}
#option_2:hover {
  background-color: rgba(75, 121, 243, 0.75);
  border-width: 0.5rem;
}

#option_2 i {
  position: absolute;
  padding: 1rem;
  top: 0;
  right: 0;
}

#option_3 {
  bottom: 0;
  left: 0;
  background-color: #fccc00;
  border-radius: 5% 50% 5% 5%;
  transition:
    background-color 0.25s,
    border-width 0.25s;
  }
  #option_3:hover {
    background-color: rgba(252, 204, 0, 0.75);
  border-width: 0.5rem;
}

#option_3 i {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1rem;
}

#option_4 {
  bottom: 0;
  right: 0;
  background-color: #42cf02;
  border-radius: 50% 5% 5% 5%;
  transition:
    background-color 0.25s,
    border-width 0.25s;
}
#option_4:hover {
  background-color: rgba(66, 207, 2, 0.75);
  border-width: 0.5rem;
}

#option_4 i {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
}

#return {
  display: none;
  background-color: #303030;
  border-style: none;
  padding: 1rem 2rem;
  font-size: large;
  color: white;
  border-radius: 1rem;
  justify-self: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: padding 0.25s;
}

#return:hover {
  padding: 1rem 2.5rem;
}

/* --------- */
/* PLAY_AREA */
/* --------- */

@media (max-width: 1000px) {
  .difficulty-box {
    flex-direction: column;
    gap: 0;
    margin: 0.5rem 0 0 0;
  }

  .difficulty-box p {
    margin: 0;
  }
}

@media (max-height: 550px) {
  .window-header,
  .window {
    width: 100%;
    border-radius: 0;
  }

  #close_button {
    border-radius: 0.5rem;
    background: #f52e0c;
    border: 3px solid rgb(206, 36, 6);
  }
  
  .window-header {
    position: absolute;
    top: 0;
  }
  
  .window h2 {
    margin-top: 5rem;
  }
  
  .difficulty-box {
    flex-direction: row;
    gap: 2.5rem;
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
  
  .difficulty-box p,
  #question_title {
    margin: 0;
  }

  #question {
    margin: 0.5rem 0;
  }

  #question_image {
    max-width: calc(90vw - 435px);
  }

  .option {
    width: 11rem;
  }

  #option_1 i,
  #option_2 i,
  #option_3 i,
  #option_4 i {
    padding: 0.5rem;
  }

  #answer {
    font-size: 1.15rem;
  }
}